body{
    background-color: #f5f5f5;
}
.bg-light{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.form-wrap{
    background-color: #fff;
    padding: 50px;
}
.list-wrap{
    background-color: #FFF;
}
.media-body h5{
    color: #666;
}
.media-body p{
    color: #999;
    text-indent: 2em;
}