<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="/static/css/bootstrap-reboot.css">
        <link rel="stylesheet" href="/static/css/bootstrap-grid.css">
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/app.css">
    {% endblock %}
</head>
<body>

<div class="container-fluid">
    {% block nav %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand">
                    <img src="/static/img/logo.jpg" width="120">
                </a>
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="/">首页</a>
                        <a class="nav-item nav-link" href="/list">发布问答</a>
                    </div>
                    <form class="form-inline">
                        <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-sm btn-outline-primary" type="submit">Search</button>
                    </form>
                </div>
                {#
                <div class="form-inline">
                    <a href="javascript:;">Saturn</a>
                    <a href="javascript:;" class="px-2"> | </a>
                    <a href="javascript:;">注销</a>
                </div>
                #}
                <div class="form-inline">
                    <a href="/login">登陆</a>
                    <a href="javascript:;" class="px-2"> | </a>
                    <a href="javascript:;">注册</a>
                </div>
            </div>
        </nav>
    {% endblock %}
</div>

<div class="container">
    {% block body %} {% endblock %}
</div>

{% block js %}
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.js"></script>
{% endblock %}
</body>
</html>