{% extends 'base.html' %}

{% block title %}主页{% endblock %}
{% block css %} {{ super() }} {% endblock %}

{% block nav %} {{ super() }} {% endblock %}
{% block body %}
    <div class="list-wrap">
        <ul class="list-unstyled px-3 py-3">
            {% for foo in range(1,10) %}
                <li class="media my-4">
                    <img class="mr-3" src="/static/img/banner.jpg" width="200" height="140">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">习近平同南非总统就中南建交20周年互致贺电</h5>
                        <p>
                            习近平在贺电中指出，20年前的今天，中南两国正式建立外交关系，翻开了两国关系崭新的一页。20年来，在双方共同努力下，中南关系全面深入发展，实现了由伙伴关系到战略伙伴关系再到全面战略伙伴关系的重大跨越。事实证明，不断巩固和深化中南全方位合作符合两国和两国人民根本利益。我愿同总统先生一道努力，推动中南关系不断向前发展，更好造福两国和两国人民。</p>
                    </div>
                </li>
            {% endfor %}

        </ul>
    </div>
{% endblock %}

{% block js %} {{ super() }} {% endblock %}