{% extends 'base.html' %}

{% block title %}主页{% endblock %}
{% block css %} {{ super() }} {% endblock %}

{% block nav %} {{ super() }} {% endblock %}
{% block body %}
    <div class="container col-8 form-wrap">
        <div class="text-center py-3">
            <h3>用户登陆</h3>
        </div>
        <form action="" method="post">
            <div class="form-group">
                <input type="username" name="username" class="form-control" placeholder="账号">
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="密码">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary form-control">Submit</button>
            </div>
        </form>
        <pre class="msg">message</pre>
    </div>
{% endblock %}

{% block js %}
    {{ super() }}
    <script>
        $(function () {
            $('form').on('submit', function (ev) {
                ev.preventDefault();
                var action = $(this).attr('action');
                var method = $(this).attr('method');
                $.ajax({
                    url: action,
                    type: method,
                    data: $(this).serialize(),
                    success: function (data) {
                        $('.msg').html(JSON.stringify(data,null,4));
                        console.log(data);
                    }
                })
            });
        });
    </script>
{% endblock %}
